# 프로젝트

## 데이터 정보

[235687_시스템 품질 변화로 인한 사용자 불편 예지 AI 경진대회](https://dacon.io/competitions/official/235687/overview/description)

### 1. 개요

 다양한 장비/서비스에서 일어나는 시스템 데이터를 통해 사용자의 불편을 예지하기 위해 '시스템 데이터'와 '사용자 불편 발생 데이터'를 분석하여 불편을 느낀 사용자와 불편 요인들을 찾아주세요.

### 2. 목적

 데이터를 통해 사용자가 불편을 느끼는 원인 분석

 금융 분야에서는 고객 만족도와 경쟁력 확보를 위해 사용자 불편 원인 분석을 수행하는 것이 중요합니다. 사용자 불편 원인 분석은 고객이 금융 제품 및 서비스를 이용하는 과정에서 발생하는 불만, 불편, 오류 등을 파악하고, 이를 개선하여 고객 만족도를 높이는 것을 목적으로 합니다.

 금융 분야에서 사용자 불편 원인 분석은 다음과 같은 과정으로 수행될 수 있습니다.

 - 고객 불만 및 피드백 수집
 - 불편 원인 분석
 - 개선 방안 도출
 - 개선 사항 적용 및 모니터링

 이러한 사용자 불편 원인 분석은 금융 제품 및 서비스의 개발 및 운영에 큰 도움을 줄 수 있습니다. 또한, 고객 만족도의 개선은 금융 기업의 경쟁력 확보에도 중요한 역할을 합니다.

 a. 리더보드
 - 평가 산식 : AUC(사용자로부터 불만 접수가 일어날 확률 예측)
 - public score : 전체 테스트 데이터 중 33%
 - private score : 전체 테스트 데이터 중 67%
 - 1차 평가의 최종 순위는 private score로 선정

 
 b. 평가 방식
 - 결과 분석, 비즈니스 분석
 - 사용자 불만 접수 원인 분석
 - err_data의 err간 관계 해석
 - quality_data 수치 해석
 - err_data와 quality_data간의 관계 해석 필수 포함

### 3. 파일 정보
 분류 모델

 a. 학습 데이터 (user_id : 10000 ~ 24999, 15000명)
 - train_err_data.csv : 시스템에 발생한 에러 로그
 - train_quality_data.csv : 시스템 퀄리티 로그
 - train_problem_data.csv : 사용자 불만 및 불만이 접수된 시간

 b. 테스트 데이터 (user_id : 30000 ~ 44998, 14999명)
 - test_err_data.csv : 시스템에 발생한 에러 로그
 - test_quality_data.csv : 시스템 퀄리티 로그
 - sample_submission.csv : 사용자 불만 확률(0~1) (제출용)

### 4. 컬럼 정보

- Err Data

 사람들이 에러를 접한 시간을 기준으로 어떤 Model & Fwver을 사용하고, 접한 Errtype & Errcode는 무엇인지에 대하여 알려주는 데이터이다. 변수는 총 6개이고, 관측치는 약 1600만개로 User ID별로 시계열 데이터가 나와있는 자료이다.

 - User ID : 사용자 고유 ID
 - Time : 에러 발생 시간
 - Model : 에러가 발생한 모델명
 - Fwver : 에러가 발생한 펌웨어 버전
 - Errtype : 에러 분류 (에러 타입)
 - Errcode : 어떤 에러가 발생하였는지 (에러 코드)


- Quality Data

 사용자의 시스템 작동 중 문제가 발생하면 측정 가능한 지표들로 해당 시점으로부터 2시간 단위로 수집한 정보를 알려주는 데이터이다.

 - User ID : 사용자 고유 ID
 - Time : 퀄리티가 수집되기 시작한 시간
 - Fwver : 퀄리티 시작 시점 기준의 펌웨어 버전
 - Quality : 에러 퀄리티 수치 (0~12, 총 13개 컬럼)

---

pip install

In [173]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install category_encoders

## 데이터 전처리

### Library import

In [174]:
import pandas as pd   # 판다스, pandas import code
import numpy as np    # 넘피, numpy import code
import matplotlib.pyplot as plt   # matplotlib import code
import seaborn as sns   # seaborn import code
from category_encoders import OneHotEncoder

In [175]:
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import eli5



# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score, f1_score
# from sklearn.preprocessing import LabelEncoder 
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.pipeline import make_pipeline
# from category_encoders import OrdinalEncoder
# from sklearn.model_selection import cross_val_score
# from sklearn.metrics import roc_auc_score
# from eli5.sklearn import PermutationImportance
# from sklearn.tree import DecisionTreeClassifier
# from xgboost import XGBClassifier

### data load

In [176]:
# from google.colab import drive
# drive.mount('/content/drive', force_remount=True)

In [177]:
%%time
# drive_url = '/content/drive/MyDrive/Colab Notebooks/urclass/Sec_2/Section2_Project/data/'
drive_url = './s2p_file/'

train_err_data = pd.read_csv(drive_url+'train_err_data.csv', dtype='str')
train_quality_data = pd.read_csv(drive_url+'train_quality_data.csv', dtype='str')
train_problem_data = pd.read_csv(drive_url+'train_problem_data.csv', dtype='str')

test_err_data = pd.read_csv(drive_url+'test_err_data.csv', dtype='str')
test_quality_data = pd.read_csv(drive_url+'test_quality_data.csv', dtype='str')
sample_submission = pd.read_csv(drive_url+'sample_submission.csv', dtype='str')

CPU times: total: 24 s
Wall time: 30.4 s

In [178]:
print(sum(train_err_data.columns != test_err_data.columns))
print(sum(train_quality_data.columns != test_quality_data.columns))

0
0

### info

In [179]:
# 데이터 정보 def
def data_info(df, value=3):
  print(f'columns: {df.shape[1]}, lows: {df.shape[0]}')
  values = []
  for col in df.columns:
    val = list(df[col].value_counts().index)[:value]
    values.append(', '.join(map(str, val)))
  df_data = pd.DataFrame(data={'notna': df.notna().sum(), 
                               'isna': df.isna().sum(), 
                               'nunique': df.nunique(), 
                               'dtypes': df.dtypes, 
                               'values': values}, 
                         index=df.columns)
  return df_data

In [180]:
train_err_data.info(), train_quality_data.info(), train_problem_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   object
 1   time      object
 2   model_nm  object
 3   fwver     object
 4   errtype   object
 5   errcode   object
dtypes: object(6)
memory usage: 757.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  object
 1   user_id     828624 non-null  object
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  object
 4   quality_1   828624 non-null  object
 5   quality_2   788511 non-null  object
 6   quality_3   828624 non-null  object
 7   quality_4   828624 non-null  object
 8   quality_5   828604 non-null  object
 9   quality_6   828624 non-null  object
 10  quality_7   828624 non-null  object
 11  quality_8   828624 non-null  object
 12  quality_9   828624 non-null  object
 13  quality_10  828624 non-null  object
 14  quality_11  828624 non-null  object
 15  quality_12  828624 non-null  object
dtypes: object(16)
memory usage: 101.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5429 entries, 0 to 5428
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5429 non-null   object
 1   time     5429 non-null   object
dtypes: object(2)
memory usage: 85.0+ KB

(None, None, None)

In [181]:
display(train_err_data.describe())
display(train_quality_data.describe())

         user_id            time  model_nm       fwver   errtype   errcode
count   16554663        16554663  16554663    16554663  16554663  16554662
unique     15000         2566163         9          37        41      2805
top        24934  20201108023257   model_1  04.16.3553        23         1
freq      222186             631   5384491     5237816   2276515   8906967

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
count,828624,828624,788544,684192,828624,788511,828624,828624,828604,828624,828624,828624,828624,828624,828624,828624
unique,4319,8281,27,753,31,798,1,1,4744,549,884,42,523,4200,12,14
top,20201110143000,15357,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,3,0,0
freq,948,4224,163236,542790,670270,632469,828624,828624,428096,662217,757788,787812,796284,99828,672229,801156

In [182]:
display(test_err_data.describe())
display(test_quality_data.describe())

         user_id            time  model_nm       fwver   errtype   errcode
count   16532648        16532648  16532648    16532648  16532648  16532644
unique     14998         2567716         9          40        41      2955
top        41285  20201129045433   model_1  04.16.3553        23         1
freq      396478             618   5473847     5326124   2460484   8750154

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
count,747972,747972,725208,641388,747961,726857,747972,747972,747928,747972,747972,747972,747972,747972,747972,747972
unique,4317,8268,22,540,34,596,1,1,3994,528,839,44,431,3515,13,17
top,20201110141000,37632,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,3,0,0
freq,984,3792,142704,505710,601265,578838,747972,747972,399032,594594,682584,707868,715716,98688,603983,727188

In [183]:
display(train_problem_data.describe())
display(sample_submission.describe())

       user_id            time
count     5429            5429
unique    5000             488
top      24407  20201130120000
freq         5              42

       user_id problem
count    14999   14999
unique   14999       1
top      30000       0
freq         1   14999

In [184]:
data_info(train_err_data, value=5)

columns: 6, lows: 16554663

,notna,isna,nunique,dtypes,values
user_id,16554663,0,15000,object,"24934, 20546, 15570, 20352, 11041"
time,16554663,0,2566163,object,"20201108023257, 20201108023253, 20201108022122..."
model_nm,16554663,0,9,object,"model_1, model_0, model_2, model_3, model_4"
fwver,16554663,0,37,object,"04.16.3553, 04.22.1750, 04.33.1261, 05.15.2138..."
errtype,16554663,0,41,object,"23, 31, 22, 15, 4"
errcode,16554662,1,2805,object,"1, 0, connection timeout, B-A8002, 80"

In [185]:
data_info(test_quality_data, value=5)

columns: 16, lows: 747972

,notna,isna,nunique,dtypes,values
time,747972,0,4317,object,"20201110141000, 20201110143000, 20201110151000..."
user_id,747972,0,8268,object,"37632, 32690, 33783, 36582, 41954"
fwver,725208,22764,22,object,"05.15.2138, 04.22.1750, 04.33.1261, 04.16.3553..."
quality_0,641388,106584,540,object,"0.0, -1.0, 1.0, 2.0, 3.0"
quality_1,747961,11,34,object,"0, -1, 1, 2, 3"
quality_2,726857,21115,596,object,"0.0, -1.0, 1.0, 2.0, 3.0"
quality_3,747972,0,1,object,0
quality_4,747972,0,1,object,0
quality_5,747928,44,3994,object,"0, -1, 1, 2, 3"
quality_6,747972,0,528,object,"0, -1, 600, 1, 5"
quality_7,747972,0,839,object,"0, 1, 5, 2, 6"
quality_8,747972,0,44,object,"0, 1, 2, 3, 4"
quality_9,747972,0,431,object,"0, 1, 2, 3, 4"
quality_10,747972,0,3515,object,"3, 2, 1, 4, 0"
quality_11,747972,0,13,object,"0, -1, 1, 2, 3"
quality_12,747972,0,17,object,"0, 1, 2, 3, 4"

In [186]:
data_info(train_problem_data, value=5)

columns: 2, lows: 5429

,notna,isna,nunique,dtypes,values
user_id,5429,0,5000,object,"24407, 11016, 11528, 15134, 24138"
time,5429,0,488,object,"20201130120000, 20201130110000, 20201103120000..."

### 결측치 처리

##### err_data part

In [187]:
data_info(train_err_data, value=5)

columns: 6, lows: 16554663

,notna,isna,nunique,dtypes,values
user_id,16554663,0,15000,object,"24934, 20546, 15570, 20352, 11041"
time,16554663,0,2566163,object,"20201108023257, 20201108023253, 20201108022122..."
model_nm,16554663,0,9,object,"model_1, model_0, model_2, model_3, model_4"
fwver,16554663,0,37,object,"04.16.3553, 04.22.1750, 04.33.1261, 05.15.2138..."
errtype,16554663,0,41,object,"23, 31, 22, 15, 4"
errcode,16554662,1,2805,object,"1, 0, connection timeout, B-A8002, 80"

In [188]:
data_info(test_err_data, value=5)

columns: 6, lows: 16532648

,notna,isna,nunique,dtypes,values
user_id,16532648,0,14998,object,"41285, 41591, 41369, 30264, 33363"
time,16532648,0,2567716,object,"20201129045433, 20201112180904, 20201112180905..."
model_nm,16532648,0,9,object,"model_1, model_0, model_2, model_3, model_4"
fwver,16532648,0,40,object,"04.16.3553, 04.22.1750, 04.33.1261, 05.15.2138..."
errtype,16532648,0,41,object,"23, 31, 22, 15, 16"
errcode,16532644,4,2955,object,"1, 0, connection timeout, B-A8002, 80"

In [189]:
train_err_data[train_err_data['errcode'].isna()]

        user_id            time model_nm       fwver errtype errcode
3825744   13639  20201121191718  model_2  04.33.1261       5     NaN

In [190]:
test_err_data[test_err_data['errcode'].isna()]

         user_id            time model_nm       fwver errtype errcode
937967     30820  20201115044317  model_2  04.33.1261       5     NaN
4038892    33681  20201103110259  model_2  04.33.1185       5     NaN
9486881    38991  20201127213838  model_2  04.33.1261       5     NaN
10425473   39894  20201128144712  model_1  04.16.3553       5     NaN

In [191]:
def errcode_isna_search(df):
  targ = 'errcode'                                              # 대상
  cols = ['user_id', 'time', 'model_nm', 'fwver', 'errtype']    # 찾을 컬럼
  isna_idx = df[df[targ].isna()]

  for idx in range(len(isna_idx)):
    user_id, time, model_nm, fwver, errtype = list(isna_idx[cols].values)[idx]
    display(df[(df[cols[0]]==user_id) & (df[cols[1]]==time) & (df[cols[2]]==model_nm) & 
               (df[cols[3]]==fwver) & (df[cols[4]]==errtype)])
  return

def errcode_isna_fill(df):
  targ = 'errcode'                                              # 대상
  cols = ['user_id', 'time', 'model_nm', 'fwver', 'errtype']    # 찾을 컬럼
  isna_idx = df[df[targ].isna()]

  for idx in range(len(isna_idx)):
    user_id, time, model_nm, fwver, errtype = list(isna_idx[cols].values)[idx]
    result = df[(df[cols[0]]==user_id) & (df[cols[1]]==time) & (df[cols[2]]==model_nm) & 
                (df[cols[3]]==fwver) & (df[cols[4]]==errtype)]['errcode'].dropna().values
    # errcode에 결측치가 있는 인덱스 처리
    errcode = df['errcode'].copy()
    errcode.iloc[isna_idx.index[idx]] = result[0]
    df['errcode'] = errcode

  return df

In [192]:
errcode_isna_search(train_err_data)

        user_id            time model_nm       fwver errtype errcode
3825744   13639  20201121191718  model_2  04.33.1261       5     NaN
3825745   13639  20201121191718  model_2  04.33.1261       5   40013

In [193]:
errcode_isna_search(test_err_data)

       user_id            time model_nm       fwver errtype errcode
937967   30820  20201115044317  model_2  04.33.1261       5     NaN
937968   30820  20201115044317  model_2  04.33.1261       5   40053

        user_id            time model_nm       fwver errtype errcode
4038892   33681  20201103110259  model_2  04.33.1185       5     NaN
4038893   33681  20201103110259  model_2  04.33.1185       5   40053

        user_id            time model_nm       fwver errtype errcode
9486880   38991  20201127213838  model_2  04.33.1261       5   40053
9486881   38991  20201127213838  model_2  04.33.1261       5     NaN

         user_id            time model_nm       fwver errtype errcode
10425472   39894  20201128144712  model_1  04.16.3553       5   -1010
10425473   39894  20201128144712  model_1  04.16.3553       5     NaN

In [194]:
# err_data 결측치 처리
train_err_data = errcode_isna_fill(train_err_data)
test_err_data = errcode_isna_fill(test_err_data)

In [195]:
print(train_err_data.isna().sum().sum())
print(test_err_data.isna().sum().sum())

0
0

In [196]:
# 시간 변경
def time_convert(time):
  result = time[:4] + '-' + time[4:6] + '-' + time[6:8] + ' ' + time[8:10] + ':' + time[10:12] + ':' + time[12:]
  return result

# Feature Engineering
def err_data_engineer(df):
  # 복사
  df_tmp = df.copy()

  # 시간 변경
  targ = 'time'
  times = df_tmp[targ]
  times = times.apply(time_convert)
  df_tmp[targ] = times
  return df_tmp

In [197]:
# 엔지니어링
train_err_data = err_data_engineer(train_err_data)
test_err_data = err_data_engineer(test_err_data)

In [198]:
# 인덱스 리셋
train_err_data.reset_index(drop=True, inplace=True)
test_err_data.reset_index(drop=True, inplace=True)

In [199]:
display(train_err_data.head(2))
print(train_err_data.info())
display(test_err_data.head(2))
print(test_err_data.info())

  user_id                 time model_nm       fwver errtype errcode
0   10000  2020-11-01 02:56:16  model_3  05.15.2138      15       1
1   10000  2020-11-01 03:03:09  model_3  05.15.2138      12       1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   object
 1   time      object
 2   model_nm  object
 3   fwver     object
 4   errtype   object
 5   errcode   object
dtypes: object(6)
memory usage: 757.8+ MB
None

  user_id                 time model_nm       fwver errtype errcode
0   30000  2020-11-01 03:02:27  model_1  04.16.3553      31       1
1   30000  2020-11-01 03:02:27  model_1  04.16.3553      33       2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16532648 entries, 0 to 16532647
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   object
 1   time      object
 2   model_nm  object
 3   fwver     object
 4   errtype   object
 5   errcode   object
dtypes: object(6)
memory usage: 756.8+ MB
None

##### quality_data part

In [200]:
fwver_isna_user = list(set(train_quality_data[train_quality_data['fwver'].isna()]['user_id'].values))
len(fwver_isna_user), fwver_isna_user[0]

(59, '17947')

In [201]:
for i in fwver_isna_user:
  if len(train_quality_data[train_quality_data['user_id'] == i].dropna()) != 0:
    display(train_quality_data[train_quality_data['user_id'] == i].dropna())

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
148740,20201127144000,12607,05.15.2138,-1.0,-1,-1.0,0,0,-1,-1,249,0,0,17,-1,0
148741,20201127144000,12607,05.15.2138,-1.0,-1,-1.0,0,0,-1,-1,249,0,0,17,-1,0
148742,20201127144000,12607,05.15.2138,-1.0,-1,-1.0,0,0,-1,-1,249,0,0,17,-1,0
148743,20201127144000,12607,05.15.2138,-1.0,-1,-1.0,0,0,-1,-1,249,0,0,17,-1,0
148744,20201127144000,12607,05.15.2138,-1.0,-1,-1.0,0,0,-1,-1,249,0,0,17,-1,0
148745,20201127144000,12607,05.15.2138,-1.0,-1,-1.0,0,0,-1,-1,249,0,0,17,-1,0
148746,20201127144000,12607,05.15.2138,0.0,0,0.0,0,0,10,0,249,0,0,17,0,0
148747,20201127144000,12607,05.15.2138,0.0,0,0.0,0,0,0,0,249,0,0,17,0,0
148748,20201127144000,12607,05.15.2138,0.0,0,0.0,0,0,0,0,249,0,0,17,0,0
148749,20201127144000,12607,05.15.2138,0.0,0,0.0,0,0,2,99,249,0,0,17,0,0
148750,20201127144000,12607,05.15.2138,0.0,0,0.0,0,0,5,150,249,0,0,17,0,0
148751,20201127144000,12607,05.15.2138,0.0,0,0.0,0,0,0,0,249,0,0,17,0,0

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
323868,20201102212000,15680,04.22.1750,-1.0,-1,-1.0,0,0,-1,-1,0,0,0,"3,635",-1,0
323869,20201102212000,15680,04.22.1750,0.0,0,0.0,0,0,0,0,0,0,0,"3,635",0,0
323870,20201102212000,15680,04.22.1750,0.0,0,0.0,0,0,0,0,0,0,0,"3,635",0,0
323871,20201102212000,15680,04.22.1750,0.0,0,0.0,0,0,1,0,0,0,0,"3,635",0,0
323872,20201102212000,15680,04.22.1750,0.0,0,0.0,0,0,0,0,0,0,0,"3,635",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324559,20201129223000,15680,04.22.1778,0.0,0,0.0,0,0,43,0,0,0,0,313,0,0
324560,20201129223000,15680,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,313,0,0
324561,20201129223000,15680,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,313,0,0
324562,20201129223000,15680,04.22.1778,0.0,0,0.0,0,0,4,0,0,0,0,313,0,0
324563,20201129223000,15680,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,313,0,0

In [202]:
# list(train_quality_data[train_quality_data['user_id'] == '15680']['fwver'])

In [203]:
# list(train_quality_data[train_quality_data['user_id'] == '12607']['fwver'])

In [204]:
train_quality_data.shape

(828624, 16)

In [205]:
print(train_quality_data.shape)
print(train_quality_data.isna().sum())
print(test_quality_data.shape)
print(test_quality_data.isna().sum())

(828624, 16)
time               0
user_id            0
fwver          40080
quality_0     144432
quality_1          0
quality_2      40113
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64
(747972, 16)
time               0
user_id            0
fwver          22764
quality_0     106584
quality_1         11
quality_2      21115
quality_3          0
quality_4          0
quality_5         44
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

In [206]:
# train_quality_data[(train_quality_data['user_id'] == '12607') & (train_quality_data['fwver'] == '05.15.2138')]

In [207]:
# train_quality_data[train_quality_data['user_id'] == '12607']

In [208]:
# train_quality_data['fwver'].isna().sum()

In [209]:
# train_quality_data[train_quality_data['quality_0'].isna()]

In [210]:
# train_quality_data[train_quality_data['user_id'] == '10080']

In [211]:
# 시간 변경
def time_convert(time):
  result = time[:4] + '-' + time[4:6] + '-' + time[6:8] + ' ' + time[8:10] + ':' + time[10:12] + ':' + time[12:]
  return result

# Feature Engineering
def quality_data_engineer(df):
  # 복사
  df_tmp = df.copy()

  # 시간 변경
  targ = 'time'
  times = df_tmp[targ]
  times = times.apply(time_convert)
  df_tmp[targ] = times

  # # 결측치는 이상치로 판단, 제거 후 인덱스 리셋
  # df_tmp.dropna(inplace=True)
  # df_tmp.reset_index(drop=True, inplace=True)

  return df_tmp

In [212]:
train_quality_data = quality_data_engineer(train_quality_data)
test_quality_data = quality_data_engineer(test_quality_data)

In [213]:
train_quality_data.head()

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
2,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
3,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
4,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0

In [214]:
print(train_quality_data.shape)
print(train_quality_data.isna().sum())
print(test_quality_data.shape)
print(test_quality_data.isna().sum())

(828624, 16)
time               0
user_id            0
fwver          40080
quality_0     144432
quality_1          0
quality_2      40113
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64
(747972, 16)
time               0
user_id            0
fwver          22764
quality_0     106584
quality_1         11
quality_2      21115
quality_3          0
quality_4          0
quality_5         44
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

##### train_problem_data

In [215]:
train_problem_data.shape, sample_submission.shape

((5429, 2), (14999, 2))

In [216]:
display(train_problem_data.head(3))
display(sample_submission.head(3))

  user_id            time
0   19224  20201102200000
1   23664  20201116140000
2   15166  20201114130000

  user_id problem
0   30000       0
1   30001       0
2   30002       0

In [217]:
# 시간 변경
def time_convert(time):
  result = time[:4] + '-' + time[4:6] + '-' + time[6:8] + ' ' + time[8:10] + ':' + time[10:12] + ':' + time[12:]
  return result

# Feature Engineering
def problem_data_engineer(df):
  # 복사
  df_tmp = df.copy()

  # 시간 변경
  targ = 'time'
  times = df_tmp[targ]
  times = times.apply(time_convert)
  df_tmp[targ] = times
  return df_tmp

In [218]:
# 엔지니어링
train_problem_data = problem_data_engineer(train_problem_data)

In [219]:
train_problem_data.head()

  user_id                 time
0   19224  2020-11-02 20:00:00
1   23664  2020-11-16 14:00:00
2   15166  2020-11-14 13:00:00
3   12590  2020-11-08 21:00:00
4   15932  2020-11-03 21:00:00

In [220]:
train_id_min, train_id_max = train_err_data['user_id'].min(), train_err_data['user_id'].max()
train_id_min, train_id_max, abs(int(train_id_min) - int(train_id_max)) + 1

('10000', '24999', 15000)

In [221]:
a = set(list(train_err_data['user_id']))
b = set(list(train_quality_data['user_id']))
c = set(list(train_problem_data['user_id']))
len(c - a), len(c - b), 
# a - b

(0, 1833)

In [222]:
# ???? 아래 확인

In [223]:
problem_id_min, problem_id_max = train_problem_data['user_id'].min(), train_problem_data['user_id'].max()
problem_id_min, problem_id_max

('10001', '24998')

In [224]:
print('train_err min:     ', train_err_data['user_id'].min(),     '\ntrain_err max:     ', train_err_data['user_id'].max())
print('train_quality min: ', train_quality_data['user_id'].min(), '\ntrain_quality max: ', train_quality_data['user_id'].max())

train_err min:      10000
train_err max:      24999
train_quality min:  10000
train_quality max:  24997

In [225]:
train_problem_data.shape

(5429, 2)

In [226]:
train_problem_data.head(3)

  user_id                 time
0   19224  2020-11-02 20:00:00
1   23664  2020-11-16 14:00:00
2   15166  2020-11-14 13:00:00

In [227]:
train_quality_data.shape

(828624, 16)

In [228]:
train_problem_data.iloc[0]

user_id                  19224
time       2020-11-02 20:00:00
Name: 0, dtype: object

In [229]:
# for i in range(train_problem_data.shape[0]):
#     id, time = train_problem_data.iloc[i]
#     if len(train_err_data[(train_err_data['user_id'] == id) & (train_err_data['time'] == time)]) != 0:
#         print(id, time)
#         if len(train_quality_data[(train_quality_data['user_id'] == id) & (train_quality_data['time'] == time)]) != 0:
#             print('둘다!')
#             display(train_err_data[(train_err_data['user_id'] == id) & (train_err_data['time'] == time)])
#             display(train_quality_data[(train_quality_data['user_id'] == id) & (train_quality_data['time'] == time)])

In [230]:
train_problem_data.min(), train_problem_data.max()

(user_id                  10001
 time       2020-11-01 00:00:00
 dtype: object,
 user_id                  24998
 time       2020-11-30 23:00:00
 dtype: object)

In [231]:
train_problem_data.head()

  user_id                 time
0   19224  2020-11-02 20:00:00
1   23664  2020-11-16 14:00:00
2   15166  2020-11-14 13:00:00
3   12590  2020-11-08 21:00:00
4   15932  2020-11-03 21:00:00

In [232]:
train_err_data.min(), train_err_data.max()

(user_id                   10000
 time        2020-10-31 23:59:59
 model_nm                model_0
 fwver                03.11.1141
 errtype                       1
 errcode                    -269
 dtype: object,
 user_id                      24999
 time           2020-12-02 18:51:52
 model_nm                   model_8
 fwver                        8.5.3
 errtype                          9
 errcode     terminate by peer user
 dtype: object)

In [233]:
display(train_err_data.head()), train_err_data.shape

  user_id                 time model_nm       fwver errtype errcode
0   10000  2020-11-01 02:56:16  model_3  05.15.2138      15       1
1   10000  2020-11-01 03:03:09  model_3  05.15.2138      12       1
2   10000  2020-11-01 03:03:09  model_3  05.15.2138      11       1
3   10000  2020-11-01 05:05:14  model_3  05.15.2138      16       1
4   10000  2020-11-01 05:05:15  model_3  05.15.2138       4       0

(None, (16554663, 6))

In [234]:
display(train_quality_data.head()), train_quality_data.shape

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
2,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
3,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
4,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0

(None, (828624, 16))

In [235]:
display(train_problem_data.head()), train_problem_data.shape

  user_id                 time
0   19224  2020-11-02 20:00:00
1   23664  2020-11-16 14:00:00
2   15166  2020-11-14 13:00:00
3   12590  2020-11-08 21:00:00
4   15932  2020-11-03 21:00:00

(None, (5429, 2))

In [236]:
# 펌웨어와 모델 연관관계 확인 def

def model_fwver(df, model_n):
    model_dic = dict()
    for mod in model_n:
        model_dic[mod] = sorted(list(df[df['model_nm'] == mod]['fwver'].value_counts().index))
    
    return model_dic

In [237]:
# train_err 모델별 펌웨어 정보
model_n = sorted(list(train_err_data['model_nm'].value_counts().index))
train_err_fwver = model_fwver(train_err_data, model_n)

In [238]:
# test_err 모델별 펌웨어 정보
model_n = sorted(list(test_err_data['model_nm'].value_counts().index))
test_err_fwver = model_fwver(test_err_data, model_n)

In [239]:
display('train_err_fwver', pd.DataFrame.from_dict(train_err_fwver, orient='index').T)
display('test_err_fwver', pd.DataFrame.from_dict(test_err_fwver, orient='index').T)

'train_err_fwver'

,model_0,model_1,model_2,model_3,model_4,model_5,model_6,model_7,model_8
0,04.22.1442,04.16.2641,04.33.1095,05.15.2090,03.11.1141,04.82.1684,10,05.66.3237,04.73.2237
1,04.22.1656,04.16.3345,04.33.1125,05.15.2092,03.11.1149,04.82.1730,8.5.3,05.66.3571,04.73.2571
2,04.22.1666,04.16.3439,04.33.1149,05.15.2114,03.11.1167,04.82.1778,None,None,None
3,04.22.1684,04.16.3553,04.33.1171,05.15.2120,None,None,None,None,None
4,04.22.1750,04.16.3569,04.33.1185,05.15.2122,None,None,None,None,None
5,04.22.1778,04.16.3571,04.33.1261,05.15.2138,None,None,None,None,None
6,None,None,None,05.15.3104,None,None,None,None,None

'test_err_fwver'

,model_0,model_1,model_2,model_3,model_4,model_5,model_6,model_7,model_8
0,04.22.1170,04.16.3439,04.33.1125,05.15.2092,03.11.1141,04.82.1684,10,05.66.3237,04.73.2237
1,04.22.1448,04.16.3553,04.33.1149,05.15.2114,03.11.1149,04.82.1730,8.5.3,05.66.3571,04.73.2569
2,04.22.1478,04.16.3569,04.33.1171,05.15.2120,03.11.1167,04.82.1778,None,None,04.73.2571
3,04.22.1608,04.16.3571,04.33.1185,05.15.2138,None,None,None,None,04.73.2577
4,04.22.1656,None,04.33.1261,05.15.3104,None,None,None,None,None
5,04.22.1666,None,None,None,None,None,None,None,None
6,04.22.1684,None,None,None,None,None,None,None,None
7,04.22.1750,None,None,None,None,None,None,None,None
8,04.22.1772,None,None,None,None,None,None,None,None
9,04.22.1778,None,None,None,None,None,None,None,None
10,10.22.1770,None,None,None,None,None,None,None,None
11,10.22.1780,None,None,None,None,None,None,None,None

In [240]:
err_fwver_sum = dict()

for key in model_n:
    err_fwver_sum[key] = sorted(list(set(train_err_fwver[key] + test_err_fwver[key])))

display('err_fwver_sum', pd.DataFrame.from_dict(err_fwver_sum, orient='index').T)

'err_fwver_sum'

,model_0,model_1,model_2,model_3,model_4,model_5,model_6,model_7,model_8
0,04.22.1170,04.16.2641,04.33.1095,05.15.2090,03.11.1141,04.82.1684,10,05.66.3237,04.73.2237
1,04.22.1442,04.16.3345,04.33.1125,05.15.2092,03.11.1149,04.82.1730,8.5.3,05.66.3571,04.73.2569
2,04.22.1448,04.16.3439,04.33.1149,05.15.2114,03.11.1167,04.82.1778,None,None,04.73.2571
3,04.22.1478,04.16.3553,04.33.1171,05.15.2120,None,None,None,None,04.73.2577
4,04.22.1608,04.16.3569,04.33.1185,05.15.2122,None,None,None,None,None
5,04.22.1656,04.16.3571,04.33.1261,05.15.2138,None,None,None,None,None
6,04.22.1666,None,None,05.15.3104,None,None,None,None,None
7,04.22.1684,None,None,None,None,None,None,None,None
8,04.22.1750,None,None,None,None,None,None,None,None
9,04.22.1772,None,None,None,None,None,None,None,None
10,04.22.1778,None,None,None,None,None,None,None,None
11,10.22.1770,None,None,None,None,None,None,None,None
12,10.22.1780,None,None,None,None,None,None,None,None

In [241]:
# 펌웨어 변경 def
def fwver_change_model(df, fw_dic, targ):
    df_temp = df[targ].copy()
    for key, val in fw_dic.items():
        df_temp = df_temp.replace(val, key)
    df['model'] = df_temp
    return df

In [242]:
train_quality_data = fwver_change_model(train_quality_data, err_fwver_sum, 'fwver')
test_quality_data = fwver_change_model(test_quality_data, err_fwver_sum, 'fwver')

In [243]:
train_quality_data.head()

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12,model
0,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
1,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
2,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
3,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
4,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3

In [244]:
train_quality_data['model'].value_counts().sort_index()

model
09.17.1431      3384
model_0       202656
model_1       114252
model_2       198312
model_3       163476
model_4       104352
model_5         1260
model_7          648
model_8          204
Name: count, dtype: int64

In [245]:
test_quality_data['model'].value_counts().sort_index()

model
09.17.1431      1116
model_0       203112
model_1       111240
model_2       179868
model_3       142824
model_4        85428
model_5         1272
model_7          180
model_8          168
Name: count, dtype: int64

In [246]:
test_quality_data[test_quality_data['fwver'] == '09.17.1431']['user_id'].value_counts().index

Index(['42350', '30005', '40982', '37105', '42686', '41195', '31070', '36866',
       '32975', '36598', '40323', '32453', '31591', '42400', '44219', '44398',
       '36076', '35543', '34055', '38700', '33347', '40420', '33462', '33408',
       '43461', '44746'],
      dtype='object', name='user_id')

In [247]:
# 분류되지 않은 펌웨어가 train_problem_data에 있는지 확인
for id in list(test_quality_data[test_quality_data['fwver'] == '09.17.1431']['user_id'].value_counts().index):
    if len(train_problem_data[train_problem_data['user_id']==id]) > 0:
        print(id)

In [248]:
for id in list(test_quality_data[test_quality_data['fwver'] == '09.17.1431']['user_id'].value_counts().index):
    print(id, end=', ')
    print('시작기간', test_quality_data[test_quality_data['user_id']==id]['time'].min(), end=', ')
    print('끝난기간', test_quality_data[test_quality_data['user_id']==id]['time'].max())

42350, 시작기간 2020-11-02 19:50:00, 끝난기간 2020-11-30 20:10:00
30005, 시작기간 2020-11-01 01:30:00, 끝난기간 2020-11-28 20:00:00
40982, 시작기간 2020-11-01 21:40:00, 끝난기간 2020-11-22 20:00:00
37105, 시작기간 2020-11-01 16:30:00, 끝난기간 2020-11-24 17:00:00
42686, 시작기간 2020-11-07 20:40:00, 끝난기간 2020-11-30 17:40:00
41195, 시작기간 2020-11-06 07:20:00, 끝난기간 2020-11-30 23:00:00
31070, 시작기간 2020-11-11 01:00:00, 끝난기간 2020-11-28 12:30:00
36866, 시작기간 2020-11-02 11:10:00, 끝난기간 2020-11-30 08:30:00
32975, 시작기간 2020-11-06 19:00:00, 끝난기간 2020-11-29 19:00:00
36598, 시작기간 2020-11-16 10:30:00, 끝난기간 2020-11-22 01:40:00
40323, 시작기간 2020-11-02 11:50:00, 끝난기간 2020-11-30 17:10:00
32453, 시작기간 2020-11-03 20:10:00, 끝난기간 2020-11-20 15:50:00
31591, 시작기간 2020-11-04 00:30:00, 끝난기간 2020-11-14 20:10:00
42400, 시작기간 2020-11-19 15:20:00, 끝난기간 2020-11-26 20:20:00
44219, 시작기간 2020-11-05 03:30:00, 끝난기간 2020-11-30 08:00:00
44398, 시작기간 2020-11-07 09:20:00, 끝난기간 2020-11-29 20:20:00
36076, 시작기간 2020-11-11 18:50:00, 끝난기간 2020-11-30 12:50:00
35543, 시작기간 2020-11-04 00:10:00, 끝난기간 2020-11-24 11:20:00
34055, 시작기간 2020-11-13 06:50:00, 끝난기간 2020-11-29 14:30:00
38700, 시작기간 2020-11-15 20:30:00, 끝난기간 2020-11-15 20:30:00
33347, 시작기간 2020-11-08 22:00:00, 끝난기간 2020-11-30 22:00:00
40420, 시작기간 2020-11-21 22:50:00, 끝난기간 2020-11-21 22:50:00
33462, 시작기간 2020-11-08 21:30:00, 끝난기간 2020-11-30 20:20:00
33408, 시작기간 2020-11-01 21:30:00, 끝난기간 2020-11-26 12:10:00
43461, 시작기간 2020-11-04 13:50:00, 끝난기간 2020-11-04 13:50:00
44746, 시작기간 2020-11-07 23:00:00, 끝난기간 2020-11-28 03:00:00

In [249]:
train_quality_data

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12,model
0,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
1,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
2,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
3,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
4,2020-11-29 09:00:00,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0,model_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828619,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,1,0,0,0,0,17,0,0,model_0
828620,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,17,0,0,model_0
828621,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,3,0,0,0,0,17,0,0,model_0
828622,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,17,0,0,model_0
828623,2020-11-24 03:30:00,24997,04.22.1778,0.0,0,0.0,0,0,9,0,0,0,0,17,0,0,model_0

In [250]:
list(train_err_data[train_err_data['user_id']=='10000']['model_nm'].value_counts().index)

['model_3']

In [251]:
id, time = train_problem_data.iloc[0]
id, time

('19224', '2020-11-02 20:00:00')

In [252]:
train_err_data[(train_err_data['user_id'] == id) & (train_err_data['time'] <= time)]['errtype'].value_counts()

errtype
15    47
16    44
31    34
40    12
12     3
11     3
14     3
7      3
6      3
33     2
41     2
34     2
4      1
13     1
10     1
Name: count, dtype: int64

In [253]:
train_err_data[(train_err_data['user_id'] == id) & (train_err_data['time'] <= time)]['errcode'].value_counts()

errcode
1             123
0              23
14              8
2               3
NFANDROID2      2
3               1
13              1
Name: count, dtype: int64

In [254]:
train_err_data[(train_err_data['user_id'] == id) & (train_err_data['time'] <= time)]

         user_id                 time model_nm       fwver errtype errcode
10031107   19224  2020-11-01 02:31:45  model_0  04.22.1750      15       1
10031108   19224  2020-11-01 02:32:07  model_0  04.22.1750      33       2
10031109   19224  2020-11-01 02:32:07  model_0  04.22.1750      15       1
10031110   19224  2020-11-01 02:32:11  model_0  04.22.1750      15       1
10031111   19224  2020-11-01 02:32:26  model_0  04.22.1750      12       1
...          ...                  ...      ...         ...     ...     ...
10031263   19224  2020-11-02 17:59:08  model_0  04.22.1750      11       1
10031264   19224  2020-11-02 17:59:08  model_0  04.22.1750      12       1
10031265   19224  2020-11-02 17:59:17  model_0  04.22.1750      14      13
10031266   19224  2020-11-02 17:59:27  model_0  04.22.1750      34       2
10031267   19224  2020-11-02 17:59:28  model_0  04.22.1750      34       2

[161 rows x 6 columns]

In [274]:
type_n = sorted(list(map(int, train_err_data['errtype'].value_counts().index)))

In [308]:
list(range(min(type_n), max(type_n)+1))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42]

In [257]:
train_err_data

         user_id                 time model_nm       fwver errtype errcode
0          10000  2020-11-01 02:56:16  model_3  05.15.2138      15       1
1          10000  2020-11-01 03:03:09  model_3  05.15.2138      12       1
2          10000  2020-11-01 03:03:09  model_3  05.15.2138      11       1
3          10000  2020-11-01 05:05:14  model_3  05.15.2138      16       1
4          10000  2020-11-01 05:05:15  model_3  05.15.2138       4       0
...          ...                  ...      ...         ...     ...     ...
16554658   24999  2020-11-30 16:30:51  model_3  05.15.2138      15       1
16554659   24999  2020-11-30 17:26:25  model_3  05.15.2138      16       1
16554660   24999  2020-11-30 17:26:25  model_3  05.15.2138       4       0
16554661   24999  2020-11-30 17:26:31  model_3  05.15.2138       4       0
16554662   24999  2020-11-30 21:06:25  model_3  05.15.2138      15       1

[16554663 rows x 6 columns]

In [303]:
train_err = pd.DataFrame(columns=['user_id', 'model_nm'])
train_err

Empty DataFrame
Columns: [user_id, model_nm]
Index: []

In [314]:
train_err_1 = pd.DataFrame(columns=list(range(min(type_n), max(type_n)+1)))
train_err_1

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]
Index: []

[0 rows x 42 columns]

In [268]:
train_err_data['user_id'].value_counts().sort_index().index

Index(['10000', '10001', '10002', '10003', '10004', '10005', '10006', '10007',
       '10008', '10009',
       ...
       '24990', '24991', '24992', '24993', '24994', '24995', '24996', '24997',
       '24998', '24999'],
      dtype='object', name='user_id', length=15000)

In [258]:
df = train_err_data[train_err_data['user_id'] == '10000'].copy()
df.drop(['fwver', 'errcode'], axis=1, inplace=True)
# df['user_id'] = ['10000']
col1_counts_df = train_err_data[train_err_data['user_id'] == '10000']['errtype'].value_counts().reset_index().T
# col1_counts_df.columns = ['errtype', 'count']

In [259]:
col1_counts_df

          0   1   2   3   4   5   6  7   8   9  10 11  12  13
errtype    4  16  15  26  12  11  14  3  10  13  6  7  27  28
count    104  61  59  32  16  15  10  8   7   1  1  1   1   1

In [ ]:

# train_err_data

In [ ]:
# # 예시 데이터 프레임 생성
# df = pd.DataFrame({'col1': ['A', 'B', 'A', 'C', 'B', 'A'], 'col2': [1, 2, 3, 4, 5, 6]})

# # col1 컬럼의 각 값들의 개수를 카운트하여 DataFrame으로 변환
# col1_counts_df = df['col1'].value_counts().reset_index()
# col1_counts_df.columns = ['col1', 'count']

# # col1 컬럼의 각 값을 컬럼으로 만들고, 해당 컬럼에 카운트 값을 할당
# for col1_value in col1_counts_df['col1']:
#     df[col1_value] = df['col1'].apply(lambda x: 1 if x == col1_value else 0) * col1_counts_df.loc[col1_counts_df['col1'] == col1_value, 'count'].values[0]

# df

In [ ]:
# # 예시 데이터 프레임 생성
# df = pd.DataFrame({'col1': ['A', 'B', 'A', 'C', 'B', 'A'], 'col2': [1, 2, 3, 4, 5, 6]})

# # col1 컬럼의 각 값들의 개수를 카운트하여 DataFrame으로 변환
# col1_counts_df = df['col1'].value_counts().reset_index()
# # col1_counts_df.columns = ['col1', 'count']
# col1_counts_df

In [ ]:
# 망했다. ???? 여기부터

In [ ]:
encoder = OneHotEncoder(use_cat_names=True)

encoder.fit_transform(train_err_data)

### 임시